/* font-family: "Roboto", serif;
font-family: "Raleway", serif; */
/* ragion Base */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  color: #434455;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  display: block; /* Убирает возможные пробелы под изображением */
  max-width: 100%; /* Для адаптивности */
  height: auto; /* Для сохранения пропорций */
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  color: #2e2f42;
}

/* убрал подчеркивания */
a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 20px;
}
/* endregion */

/* header */

.header {
  background-color: #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

/* logo */
.logo {
  margin-right: 76px;
  display: flex;
  gap: 40px;
  color: #4d5ae5;
}

.logo-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 76px;
}

.menu {
  margin-bottom: 8px;
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  color: #2e2f42;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #434455;
}
/* 
.item-address {

} 
*/

.item-address {
  display: flex;
  gap: 40px;
}

/* section */
.title {
  background-color: #2e2f42;
  color: #fff;
  padding: 188px 0;
}

.caption {
  max-width: 496px;
}
.btn {
  background: #4d5ae5;
  color: #fff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

/* section */

.section {
  padding: 120px 0;
}

.subject {
  margin-bottom: 72px;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item {
  background: #fff;
  display: flex;
  gap: 24px;
}

.section-item {
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}

.list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team section */

.team {
  background-color: #f4f4fd;
}

.team-contriner {
  padding: 32px 0;
  width: calc((100% - 72px) / 4);
}

.subtitle {
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
}

.list {
  text-align: center;
}

/* section Our Portfolio */

.portfolio-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section */

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-port-items {
  width: calc((100% - 48px) / 3);
}

.portfolio-cont {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.items {
  margin-bottom: 8px;
}

/* footer */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 264px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-light {
  color: #f4f4fd;
}
